@font-face {
	font-family: 'Akrobat';
	font-weight: 700;
	src: url(fonts/Akrobat-Bold.ttf); 
}

@font-face {
	font-family: 'Calibri';
	font-weight: 400;
	src: url(fonts/calibri.ttf); 
}




body {
  background: #FFF;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: none;
}

.container {
  width: 1400px;
  margin: 0 auto;
}

.header-bg {
  background-image: url(./images/header_bg.png);
  background-size: cover;
  color: #fff;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 56px;
  padding-bottom: 72px;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo > img {
  width: 193px;
}

.header-logo-text {
  font-size: 32px;
  font-weight: 700;
  font-family: "Akrobat";
  margin: 0;
  padding-left: 30px;
  color: #FFF;
}

button {
  border: none;
}

.header-content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-content-phone-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-content-phone-part_title {
  font-family: 'Calibri';
  font-size: 16px;
  margin: 0;
}

.header-content-phone-part_link {
  position: relative;
}

.header-content-phone-part_link-text {
  color: #FFF;
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-left: 40px;
  padding-top: 16px;
}

.absolute_header-content-phone-part_link {
  position: absolute;
  left: 0px;
  top: 54%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-content-phone-part:last-child {
  padding-left: 32px;
}

.header-content-social {
  margin-top: 36px;
}

.header-content-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content-social-link-whatsapp {
  font-family: 'Akrobat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-left: 8px;
  color: #FFF;
}

.header_menu {
  margin-top: 40px;
}

.header_menu_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 32px;
  background: #19646B;
  text-align: center;
  width: 100%;
}

.header_menu_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.header_menu_li:not(:first-child) {
  border-left: 1px solid rgba(255, 255, 255, 0.32);
}

.selected-header-menu {
  padding: 10px 24px;
  color: rgba(255, 255, 255, 0.48);
  font-family: 'Akrobat';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.header_menu_btn {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: "Akrobat";
  padding: 16px 32px;
  border-radius: 24px;
  background: #F7A420;
  margin: 0;
  margin: 8px;
  cursor: pointer;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}



.company-main-block {
  margin-top: 80px;
}

.title-company-main-block {
  color: #000;
  font-family: 'Akrobat';
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  padding-left: 56px;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
}

.title-company-main-block::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 4px;
  border-radius: 2px;
  background: #F7A420;
}

.company-main-block-parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

.company-main-block-parts-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 20px;
}

.company-main-block-text-left {
  color: #666;
  font-family: 'Calibri';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; 
  margin: 0;
  margin-bottom: 25px;
  width: 920px;
}

.company-main-block-text-link-telegram {
  border-radius: 32px;
  background: #0595E6;
  position: relative;
}

.company-main-block-absolute {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.company-main-block-link-telegram-text {
  color: #FFF;
  font-family: 'Akrobat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 16px 40px 16px 64px;
}


.company-main-block-text-left-information {
  color: #F7A420;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.slide_one_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 80px;
  position: relative;
}

.slider_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.slider_item {
  position: relative;
  max-width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_item {
  width: 100%;
  height: 100%;
}

.service {
  background: url(./images/service_block.svg);
  background-size: cover;
  padding: 80px 0;
  margin-top: 80px;
  overflow: hidden;
}

.service-part-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-part-block-inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 32px;
  background: #FFF;
  padding: 32px 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
}

.service-part-block-text {
  color: #000;
  text-align: center;
  font-family: 'Calibri';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding: 16px; 
}

.services-delivery {
  color: #000;
  font-family: 'Akrobat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  border-radius: 32px;
  border: 3px solid #F7A420;
  padding: 16px 40px;
}

.service-part-block-bottom {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-part-block-btn {
  color: #000;
  font-family: 'Akrobat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  padding: 16px 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 32px;
  background: #F7A420;
}

.board {
  margin-top: 80px;
}

.board-part-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board-part-block-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 592px;
}

.board-part-block-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 32px;
  background: #F2F7F7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 32px;
  margin-bottom: 40px;
  width: 100%;
}

.top-board-part-block-left-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar {
  margin-right: 8px;
}

.data-calendar-text {
  color: #19646B;
  text-align: center;
  font-family: 'Calibri';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
}

.board-part-block-left-content-text {
  color: #000;
  font-family: 'Calibri';
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
  padding-top: 16px;
}

.btn-board-part-block-left-content {
  color: #000;
  font-family: 'Akrobat';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 100% */
  text-transform: uppercase;
  border-radius: 32px;
  background: #F7A420;
  padding: 16px 40px;
}

.call {
  margin-top: 80px;
  padding-top: 80px;
  padding-bottom: 64px;
  background-size: cover !important;
  background: url(./images/call-block.png);
  overflow-x: hidden;
}

.white-style-title-company-main {
  color: #FFF;
}

.call__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.call__form__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.call__form__field {
  position: relative;
}

.call__form__field::before {
  content: '';
  position: absolute;
  left: 65px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 24px;
  width: 1px;
  background: #C5C5C5;
}

.call__form__field::after {
  content: '';
  position: absolute;
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
}

.call__form__field-adress::after {
  background-image: url(./images/map-adress.svg);
}

.call__form__input {
  border-radius: 32px;
    background: #FFF;
    padding: 20px 24px;
    color: #000;
    font-size: 16px;
    font-family: "Calibri";
    padding-left: 81px;
    margin: 0;
    width: 600px;
}

.call__form__field-apart::after {
  background-image: url(./images/room.svg);
}

.call__form__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}

.width_call__form__row2 {
  width: 300px;
}

.call__form__field-name::after {
  background-image: url(./images/fio.svg);
}

.call__form__field-phone::after {
  background-image: url(./images/phone-form.svg);
} 

.call__form__field-mail::after {
  background-image: url(./images/mail-form.svg);
}

.call__form__row3 {
  margin-top: 32px;
}

.call__form__input--text {
  padding-left: 24px;
  min-height: 128px;
  width: 96%;
  max-width: 96%;
}

.input-file {
	position: relative;
	display: inline-block;
  margin-top: 32px;
}
.input-file p {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: none;
	margin: 0;
	-webkit-transition: background-color 0.2s;
	-o-transition: background-color 0.2s;
	transition: background-color 0.2s;
    border-radius: 20px;
    background: #F7A420;
    padding: 8px 16px;
    padding-left: 40px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
}

.input-file p::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url( ./images/paper-clip.svg);
    width: 24px;
    height: 24px;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 36px;
}

.checkbox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.custom-checkbox {
  border-radius: 4px;
  background: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F7A420;
}

.custom-checkbox+p {
  color: #FFF;
  font-family: 'Calibri';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  margin-left: 16px;
}

.modal__button-call__btn {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  font-family: "Akrobat";
  text-transform: uppercase;
  padding: 16px 40px;
  border-radius: 32px;
  background: #F7A420;
  cursor: pointer;
  -ms-flex-item-align: end;
      align-self: end;
  margin: 0;
}

.footer {
  background: #19646B;
  padding: 80px 0;
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_logo-image {
  width: 88px;
}

.footer-adress {
  color: #FFF;
  font-family: 'Akrobat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.footer_phones  {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_phones > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_phones-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  padding-right: 24px;
}

.footer_phones_item_title {
  color: #FFF;
  font-family: 'Calibri';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-bottom: 8px;
  margin: 0;
}

.footer_phones_item_phone {
  color: #FFF;
  font-family: 'Akrobat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.footer_phones_item_whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8px;
}

.footer_phones_item_whatsapp-text {
  color: #FFF;
  font-family: 'Akrobat';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  padding-left: 5px;
}

.footer_phones_item_email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.email-footer_phones_item {
  margin-left: 8px;
}

.brevis-logo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brevis-logo-footer-text {
  color: #FFF;
  font-family: 'Calibri';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-left: 24px;
}

.last-block-footer {
  padding: 20px;
  border-radius: 32px;
  background: #F7A420;
}

/* article.html */
.article-style-company-main-block-parts {
  width: 100%;
}

.last-margin-company-main-block-parts {
  margin-bottom: 0;
}

.title-company-main-block-h {
  color: #000;
  font-family: 'Akrobat';
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding: 40px 0;
}

.h2-li-article {
  list-style-type: disc;
}

.h3-title-company-main-block {
  font-size: 36px;
}

.h4-title-company-main-block {
  font-size: 34px;
}

.h5-title-company-main-block {
  font-size: 32px;
}

.h6-title-company-main-block {
  font-size: 30px;
}

.last-h6-margin {
  margin-bottom: 80px;
}

.burger {
  display: none;
}

.mobile-yellow-style {
  display:  none;
}

.mobile-block-header-content {
  display:  none;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  
  .container {
    width: auto;
    overflow-x: hidden;
    margin: 0 15px;
  }

  .header-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-logo > img {
    width: 80px;
  }

  .header-logo-text {
    font-size: 16px;
  }

  .header-content-block {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    z-index: 1200;
    width: 40px;
    height: 30px;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .header_menu {
    display: none;
  }

  .company-main-block {
    margin-top: 56px;
  }

  .mobile-yellow-style {
    display: block;
  }

  .company-main-block-text-left {
    width: 390px;
  }

  .display-style-mobile {
    display: none;
  }
  
  .slider_item > img {
    width: 300px;
  }

  .service-part-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .margin-top-style-mobile-service {
    margin-top: 16px;
  }

  .board-part-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .board-part-block-right {
    margin-top: 40px;
  }

  .call__form__input {
    width: 350px;
  }

  .board-part-block-left {
    width: 100%;
  }

  .board-part-block-left-content {
    max-width: 92%;
    width: 92%;
  }

  .width_call__form__row2 {
    width: 135px;
  }
  
  .call__form__input--text {
    width: 94%;
    min-width: 94%;
  }

  .custom-checkbox {
    width: 16px;
  }

  .footer {
    padding: 40px 0;
  }

  .footer-adress {
    display: none;
  }

  .footer_phones > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_wrap {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .last-block-footer {
    display: none;
  }

  .service-part-block-inform {
    width: 325px;
  }

  .top-margin-style-footer {
    padding-top: 8px;
  }

  .email-block-style-mobile {
    padding-left: 24px;
  }

  .mobile-style-right-footer {
    padding-right: 0;
  }

  .brevis-logo-footer {
    margin-left: 22px;
  }

  .article-style-company-main-block-parts {
    width: auto;
  }

  .article-mobile-company-main-block-last {
    margin-bottom: 0;
  }

  .last-h6-margin {
    margin-bottom: 40px;
  }

  .mobile-block-header-content {
    display:  block;
  }
  .header_menu {
    position: fixed;
    left: -200%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    top: 0;
    margin-top: 0;
    height: 100vh;
    width: calc(100vw + 32px);
    z-index: 100;
  }
  .header_menu .container, .header_menu .header_menu_wrap {
      height: 100%;
      width: 100%;
  }

  .header_menu_li {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .header_menu_li a {
    padding: 0;
  }

  .header_menu.active {
    display: block;
    left: -16px;
    
  }
  .header_menu_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_menu_ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-top: 48px;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: auto;
  }
  .header_menu_wrap {
    border-radius: 0;
  }
  .header_menu_wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 24px;
    gap: 24px;
  }

  .header-content-phone-part_title {
    color: #FFF;
  }

  .header_menu_li:not(:first-child) {
    border-left: none;
  }
  
}

@media screen and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
  
  .container {
    width: auto;
    overflow-x: hidden;
    margin: 0 15px;
  }

  .header-content {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-logo > img {
    width: 80px;
  }

  .header-logo-text {
    font-size: 16px;
  }

  .header-content-block {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    z-index: 1200;
    width: 40px;
    height: 30px;
  }

  .burger span:nth-of-type(1) {
    top: 0px;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }

  .burger span:nth-of-type(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
  }

  .burger span:nth-of-type(3) {
    top: 100%;
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
  }

  .burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #FFF;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }

  .header_menu {
    display: none;
  }

  .company-main-block-parts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .company-main-block-text-left {
    width: auto;
  }

  .display-style-mobile {
    display: none;
  } 

  .service-part-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .service-part-block-inform:not(:last-child) {
    margin-bottom: 16px;
  } 

  .board-part-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .board-part-block-left {
    width: auto;
  }
  
  .board-part-block-left-content {
    width: auto;
  }

  .board-part-block-right > img {
    width: 96%;
    margin-top: 40px;
  }

  .call__form__row1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .call__form__field-apart {
    padding-top: 16px;
  } 

  .call__form__input {
    width: 97%
  }

  .call__form__row2 {
    margin-top: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer {
    padding-top: 24px;
    padding-bottom: 16px;
  }

  .footer-adress {
    display: none;
  }

  .footer_phones {
    display: none;
  }

  .last-block-footer {
    display: none;
  }

  .width_call__form__row2 {
    width: auto;
    margin-bottom: 16px;
  }

  .call__form__row3 {
    margin-top: 0;
  }

  .call__form__input--text {
    width: auto;
    max-width: 300px;
  }

  .header_menu {
    position: fixed;
    left: -200%;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    top: 0;
    margin-top: 0;
    height: 100vh;
    width: calc(100vw + 32px);
    z-index: 100;
  }
  .header_menu .container, .header_menu .header_menu_wrap {
      height: 100%;
      width: 100%;
  }

  .header_menu_li {
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
  }
  .header_menu_li a {
    padding: 0;
  }

  .header_menu.active {
    display: block;
    left: -16px;
    
  }
  .header_menu_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header_menu_ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-top: 48px;
    -webkit-box-flex: unset;
        -ms-flex-positive: unset;
            flex-grow: unset;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-right: auto;
  }
  .header_menu_wrap {
    border-radius: 0;
  }
  .header_menu_wrap {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding-left: 24px;
    gap: 24px;
  }

  .header-content-phone-part_title {
    color: #FFF;
  }

  .mobile-block-header-content {
    display:  block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-content-phone-part_link-text {
    font-size: 24px;
  }

  .header-content-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-content-phone-part:last-child {
    padding-left: 0;
  }

  .header_menu_li:not(:first-child) {
    border-left: none;
  }

}